In [4]:
import pandas as pd
import numpy as np
import math

In [5]:
data = [[18,24,36],[28,36,12],[12,28,22],[14,40,45],[32,16, 40]]

In [12]:
df = pd.DataFrame(data, columns=["F1","F2", "F3"])

In [16]:
dt = df.T
dt2 = dt**2
dt

     0   1   2   3   4
F1  18  28  12  14  32
F2  24  36  28  40  16
F3  36  12  22  45  40

In [17]:
R = dt.sum(axis=1)
R

F1    104
F2    144
F3    155
dtype: int64

In [18]:
P = dt2.sum(axis=1)
P

F1    2472
F2    4512
F3    5549
dtype: int64

In [19]:
R2 = R**2
R2

F1    10816
F2    20736
F3    24025
dtype: int64

In [22]:
# S общая
Sc = P.sum(axis=0) - (1/15)*(R.sum(axis=0))**2
Sc

1705.7333333333336

In [23]:
# S факт
Sf = (1/5)*R2.sum(axis=0) - (1/15)*(R.sum(axis=0))**2
Sf

288.13333333333503

In [24]:
# S остаточная
Sr = Sc - Sf
Sr

1417.5999999999985

In [26]:
# факторная дисперсия
S2f = Sf/2
S2f

144.06666666666752

In [27]:
# остаточная дисперсия
S2r = Sr/(12)
S2r

118.13333333333321

In [28]:
# наблюдаемое значение критерия
F = S2f/S2r
F

1.2195259593679542

Найдем критическую точку при уровне значимости α = 0,05 и числам степеней свободы k1 = 2, k2 =12 , F(крит) = 3,88

Так как F = 1,22 < 3,88 = F(крит), нет оснований отвергнуть нулевую гипотезу, групповые средние отличаются незначимо

Задача 2: Напишите, пожалуйста, какие темы были для Вас слишком простоми, а какие слишком сложными.
Тем сложных не было, т.к. изучал их ранее. Каждая тема требует большего времени если ее не изучал раньше более подробно