In [187]:
import pandas as pd
import math

In [188]:
#1
tabledata = [[1, 12, 14],
         [2, 10, 18],
         [3, 10, 13],
         [4, 8, 10],
         [5, -5, 12],
         [6, -3, -7],
         [7, 10, -2],
         [8, 7, 10]]

In [189]:
df=pd.DataFrame(tabledata, columns=["Периоды","Доходность актива Х", "Доходность актива Y"])

In [190]:
corr_matrix = df.loc[:, ["Доходность актива Х", "Доходность актива Y"]].corr()
corr_matrix

                     Доходность актива Х  Доходность актива Y
Доходность актива Х             1.000000             0.396721
Доходность актива Y             0.396721             1.000000

In [191]:
corr_matrix.loc["Доходность актива Х", "Доходность актива Y"]

0.39672063405755487

In [192]:
tabledata = [[-2, 0.1, 0, 0.2],
         [0, 0.05, 0.2, 0],
         [1, 0, 0.2, 0.05],
         [7, 0.1, 0, 0.1]]

In [193]:
tabledata_1 = [[ 0.1, 0, 0.2],
         [ 0.05, 0.2, 0],
         [ 0, 0.2, 0.05],
         [ 0.1, 0, 0.1]]

In [194]:
df= pd.DataFrame(tabledata, columns=["X/Y", "-6", " 0", "3"])
df

   X/Y    -6    0     3
0   -2  0.10  0.0  0.20
1    0  0.05  0.2  0.00
2    1  0.00  0.2  0.05
3    7  0.10  0.0  0.10

In [195]:
df_sum= pd.DataFrame(tabledata_1, columns=["-6", "0", "3"],index=df['X/Y'])
df_sum

       -6    0     3
X/Y
-2   0.10  0.0  0.20
 0   0.05  0.2  0.00
 1   0.00  0.2  0.05
 7   0.10  0.0  0.10

In [196]:
sub_1 = df_sum[['-6']].sum()
sub_1[0]

0.25

In [197]:
sub_2 = df_sum[['0']].sum()
sub_2[0]

0.4

In [198]:
sub_3 = df_sum[['3']].sum()
sub_3[0]

0.35

Математическое ожидание

In [199]:
M_x = (-6)*0.25+0*0.4+3*0.35
M_x =round(M_x,2)
M_x

-0.45

In [200]:
#дисперсия
D_x = 6**2*0.25+0**2*0.4+3**2*0.35-0.45**2
D_x=round(D_x,2)
D_x

11.95

In [201]:
#среднеквадратичное отклонение
b_x =math.sqrt(D_x)
b_x=round(b_x,2)
b_x

3.46

In [202]:
df_sum_y=df_sum.T
df_sum_y

X/Y   -2     0     1    7
-6   0.1  0.05  0.00  0.1
0    0.0  0.20  0.20  0.0
3    0.2  0.00  0.05  0.1

In [203]:
sub_1 = df_sum_y[-2].sum()
sub_1 =round(sub_1,1)
sub_1

0.3

In [204]:
sub_2 = df_sum_y[0].sum()
sub_2

0.25

In [205]:
sub_3 = df_sum_y[1].sum()
sub_3

0.25

In [206]:
sub_4 = df_sum_y[7].sum()
sub_4

0.2

In [207]:
M_y = (-2)*0.3+0*0.25+1*0.25+7*0.2
M_y = round(M_y,2)
M_y

1.05

In [208]:
D_y = 2**2*0.3+0**2*0.25+1**2*0.25+7**2*0.2-1.05**2
D_y = round(D_y,2)
D_y

10.15

In [209]:
b_y=math.sqrt(D_y)
b_y = round(b_y, 2)
b_y

3.19

In [210]:
#cov(x,y)= M[x*y]-M_x*M_y
cov = -2*(-6)*0.1+0*(-6)*0.05+7*(-6)*0.1+0*0*0.2+1*0*0.2+1*0*0.2-2*3*0.2+1*3*0.05+7*3*0.1+0.45*1.05
cov = round(cov, 2)
cov

-1.48

In [211]:
#корреляция
corr = cov/(b_x*b_y)
corr

-0.13408955007519888

Приведите примеры положительной корелляции из практики

In [212]:
#1) дождь- сырая земля
#2) наличие интернета-сделанное ДЗ
#3) наличие электричества - свет
#4) больше бензина- длиннее путь
#5) больше деревьев- больше кислорода

Приведите примеры отрицательной корелляции из практики

In [ ]:
#1) сладкое - колличество зубов
#2) больше аттракционов - меньше денег
#3) больше физических нагрузок- меньше веса
#4) больше кол-во людей на земле- мень кол-во еды на человека 
#5) больше платного контента - меньше рекламы